version: 2.1

executors:
  linux-minimal:
    working_directory: /tmp/workspace
    docker:
      - image: alpine:3.10.9
  node:
    working_directory: /tmp/int_tests
    machine:
        image: ubuntu-2004:2022.10.1
  docker:
    working_directory: /tmp/workspace
    docker:
      - image: docker:20.10.1

jobs:
    harper-lint:
        executor: linux-minimal
        steps:
            - checkout
            - run:
                name: Refresh Package List
                command: apk update
            - run:
                name: Update System Packages
                command: apk upgrade
            - run:
                name: Install wget
                command: apk add wget ca-certificates
            - run:
                name: Install Harper CLI
                command: |
                    wget https://github.com/Automattic/harper/releases/download/v0.47.0/harper-cli-x86_64-unknown-linux-musl.tar.gz --output-document harper.tar.gz
                    tar -xvzf ./harper.tar.gz -C /usr/bin/
                    chmod +x /usr/bin/harper-cli
            - run:
                name: Run Harper lint
                command: |
                    for f in ./src/*
                    do
                        harper-cli lint "$f" || true
                    done
    semgrep-full-scan-code:
        docker:
            - image: semgrep/semgrep:1.136.0
        resource_class: medium+
        steps:
            - checkout
            - run:
                    name: "Semgrep Full Scan (Code)"
                    command: semgrep ci --code --max-memory 5120 --optimizations=all --oss-only --timeout 60 --timeout-threshold 3
    semgrep-full-scan-supplychain:
        docker:
            - image: semgrep/semgrep:1.136.0
        resource_class: large
        steps:
            - checkout
            - run:
                    name: "Semgrep Full Scan (Supply Chain)"
                    command: semgrep ci --supply-chain --max-memory 5120 --optimizations=all --oss-only --timeout 60 --timeout-threshold 3
    semgrep-diff-scan-code:
        parameters:
            default_branch:
                type: string
                # Replace main with the repository default branch if different.
                default: master
        docker:
            - image: semgrep/semgrep:1.136.0
        resource_class: medium+
        steps:
            - checkout
            - run:
                    name: Semgrep Differential Scan (Code)
                    environment:
                        SEMGREP_BASELINE_REF: << parameters.default_branch >>
                    command: semgrep ci --code
    semgrep-diff-scan-supplychain:
        parameters:
            default_branch:
                type: string
                # Replace main with the repository default branch if different.
                default: master
        docker:
            - image: semgrep/semgrep:1.136.0
        resource_class: medium+
        steps:
            - checkout
            - run:
                    name: Semgrep Differential Scan (Supply Chain)
                    environment:
                        SEMGREP_BASELINE_REF: << parameters.default_branch >>
                    command: semgrep ci --supply-chain
    integration-tests:
        executor: node
        resource_class: large
        steps:
            - checkout
            - run:
                name: Get Configuration
                command: |
                    cp src/config/config.dev.json src/config/config.json
            - run:
                name: Install Packages
                command: |
                    sudo apt-get update
                    sudo apt-get install -y curl unzip ca-certificates git build-essential
                    curl -fsSL https://fnm.vercel.app/install | bash
                    PATH="$HOME/.fnm":"$HOME/.local/share/fnm":$PATH && export PATH
                    eval "$(fnm env --shell bash)"
            - run:
                name: Install Node.js from fnm
                command: |
                    __CI_REPO_NODEJS_VER=$(cat .node-version)
                    fnm install $__CI_REPO_NODEJS_VER && fnm use $__CI_REPO_NODEJS_VER --install-if-missing && fnm default $__CI_REPO_NODEJS_VER
            - restore_cache:
                keys:
                    - node-v1-{{ checksum "package-lock.json" }}
            - run:
                name: Setup Testing Environment
                command: |
                    docker-compose up -d
                    docker-compose ps
                    docker-compose logs -t --tail="all" df2-server
                    docker ps
            - run:
                name: Wait For Server Warmup
                command: |
                    npm i --force --legacy-peer-deps -d
                    sleep 30
                    npm uninstall bcrypt --force && npm install bcrypt@3.0.6 --force --legacy-peer-deps --save --save-exact # temporary, remove this later
            - run:
                name: Run Integration Tests
                command: |
                    JEST_JUNIT_OUTPUT_NAME="test-results.xml" npm run test-int-on-ci || true
            - run:
                name: (DEBUG) MySQL Logs
                command: |
                    docker-compose logs -t --tail="all" mysql
            - run:
                name: (DEBUG) DF Service Logs
                command: |
                    docker-compose logs -t --tail="all" df2-server
            - save_cache:
                key: node-v1-{{ checksum "package-lock.json" }}
                paths:
                    - ~/.npm
            - store_test_results:
                path: test-results.xml
    publish-node-sdk:
        executor: node
        steps:
            - add_ssh_keys:
                fingerprints:
                    - "SHA256:6uSusj536HFBXwstxow8E4ydHkjZkuoryLtQYuj9xnk"
            - checkout
            - restore_cache:
                keys:
                    - node-v1-{{ checksum "package-lock.json" }}
            - run:
                name: Install Packages
                command: |
                    sudo apt-get update
                    sudo apt-get install -y curl unzip ca-certificates git build-essential
                    curl -fsSL https://fnm.vercel.app/install | bash
                    PATH="$HOME/.fnm":"$HOME/.local/share/fnm":$PATH && export PATH
                    eval "$(fnm env --shell bash)"
            - run:
                name: Install Node.js from fnm
                command: |
                    __NODE_VER=$(cat .node-version)
                    fnm install $(cat .node-version) && fnm use $(cat .node-version) --install-if-missing && fnm default $(cat .node-version)
            - run:
                name: Install NPM Packages
                command: |
                    npm i --force --legacy-peer-deps -d
                    npm uninstall bcrypt --force && npm install bcrypt@3.0.6 --force --legacy-peer-deps --save --save-exact # temporary, remove this later
            - run:
                name: Build OpenAPI Manifest
                command: |
                    npm run build-openapi-spec
            - run:
                name: Generate SDK from Swagger Codegen
                command: |
                    docker run --rm -v ${PWD}:/local swaggerapi/swagger-codegen-cli-v3:3.0.71 generate -i /local/build/swagger.json -l typescript-axios --additional-properties "npmName=delfruit-swagger-cg-sdk,supportsES6=true,withInterfaces=true" -o /local/build/swagger-cg-sdk
            - run:
                name: Upload SDK
                command: |
                    git clone https://github.com/IWannaCommunity/delfruit-swagger-cg-sdk-node.git ~/swagger-cg-sdk/
                    cp --verbose --force --recursive --dereference --preserve ${PWD}/build/swagger-cg-sdk/. ~/swagger-cg-sdk/
                    cd ~/swagger-cg-sdk/
                    sudo chmod +x ./git_push.sh
                    ./git_push.sh IWannaCommunity delfruit-swagger-cg-sdk-node "Automated changes from upstream."
    docker:
        parameters:
            with_publish:
                type: boolean
                default: false
        executor: docker
        steps:
            - checkout
            - setup_remote_docker:
                version: 20.10.24
            - run:
                name: Build
                command: |
                    apk add --no-cache git
                    git fetch --tags
                    docker build -t app .
            - when:
                condition: <<parameters.with_publish>>
                steps:
                    - run:
                        name: Publish Latest & Tagged
                        command: |
                            echo $CONTAINER_REGISTRY_PASS | docker login ghcr.io -u $CONTAINER_REGISTRY_USER --password-stdin
                            docker tag app $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:latest
                            docker push $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:latest
                            docker tag app $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:$(git describe --tags --abbrev=0)
                            docker push $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:$(git describe --tags --abbrev=0)
                    - when:
                        condition:
                            equal: [ develop, << pipeline.git.branch >> ]
                        steps:
                            - run:
                                    name: Publish Beta
                                    command: |
                                        docker tag app $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:beta 
                                        docker push $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:beta
                    - when:
                        condition:
                            equal: [ release, << pipeline.git.branch >> ]
                        steps:
                            - run:
                                    name: Publish Stable
                                    command: |
                                        docker tag app $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:stable
                                        docker push $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY/delfruit-backend:stable
                            
workflows:
    version: 2.0
    check:
      jobs:
          - harper-lint:
              name: Harper grammar checker
    analysis:
        jobs:
            - semgrep-full-scan-code:
                name: Semgrep Scan (Code) - Full
                filters:
                    branches:
                        only: master
                context:
                    - semgrep
            - semgrep-full-scan-supplychain:
                name: Semgrep Scan (Supply Chain) - Full
                filters:
                    branches:
                        only: master
                context:
                    - semgrep
            - semgrep-diff-scan-code:
                name: Semgrep Scan (Code) - Diff
                filters:
                    branches:
                        ignore: master
                context:
                    - semgrep
            - semgrep-diff-scan-supplychain:
                name: Semgrep Scan (Supply Chain) - Diff
                filters:
                    branches:
                        ignore: master
                context:
                    - semgrep
    cicd:
        jobs:
            - publish-node-sdk:
                name: Publish Node SDK
            - integration-tests:
                name: Integration Tests
            - docker:
                name: Build
                with_publish: false
                requires:
                    - Integration Tests
                filters:
                    branches:
                        ignore:
                            - master
                            - develop
                            - release
            - docker:
                name: Build & Publish
                with_publish: true
                requires:
                    - Integration Tests
                filters:
                    branches:
                        only:
                            - master
                            - develop
                            - release
